<div class="form-groupe mb-2">

    <label for="title">title</label>

    <input type="text" value="<%= article.title%>" name="title" id="title" 
    class="form-control">
</div>


<div class="form-groupe mb-2">
    <label for="description">description</label>

    <textarea name="description"  id="description" class="form-control"
    onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea>
</div>


<div class="form-groupe mb-2">

    <label for="markdown">markdown</label>

    <textarea name="markdown" id="markdown" class="form-control" required 
    onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea>
</div>

<a href="/" class="btn btn-secondary">cancel</a>

<button type="submit" class="btn btn-primary" value="submit">save</button>
